.container
     width: 90vw
     height: 100%
     background-color: var(--white)
     margin: 0 auto
     color: var(--dark-text-2)
     padding: 60px

     .customer-info
          padding: 0 60px

     .ship
          display: flex
          flex-direction: column
          gap: 8px
          padding: 0 60px

          .ship-item
               background-color: #ededed
               display: flex
               align-items: center
               gap: 12px
               height: 42px
               padding: 0 16px

               input
                    width: 18px
                    height: 18px

     .cart
