.container
     width: 100%
     height: 100%
     margin: 0 auto
     background: var(--light-100)
     color: var(--dark-text-2)
     padding: 40px 40px

     .sider
          padding: 0 20px
          height: 100%
          background: var(--light-80)
          position: relative
          margin: 0 auto

          .submit-filter
               position: absolute
               top: 0
               right: 0

          .filter-wrapper

               .header
                    font-weight: 600
                    font-size: 16px
                    line-height: 28px
                    color: #000000

     .main-view
          padding: 0 40px
          background: var(--light-100)

     .image-bg
          width: 100%
          height: 260px
          margin-bottom: 28px

.products-wrapper
     background: var(--light-80)
     width: 100%
     display: flex
     padding: 12px 0
